<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ALEPA</title>



    <style>
         @import "agenda.css";
        @import "template.css";
       


    </style>

    <script type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js'></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



    <!-- Example assets -->
    <link rel="stylesheet" type="text/css" href="http://sorgalla.com/jcarousel/examples/responsive/jcarousel.responsive.css" />



    <script type="text/javascript" src="http://sorgalla.com/jcarousel/dist/jquery.jcarousel.min.js"></script>

    <script type="text/javascript" src="http://sorgalla.com/jcarousel/examples/responsive/jcarousel.responsive.js"></script>
   





    <link rel="SHORTCUT ICON" href="http://www.agenciapara.com.br/imagens/favicon.png" type="image/x-icon" />

</head>



<body>

    <!-- topo in -->
    <header></header>
    <!-- topo out -->
    <!-- destaque  in -->
    <div class="destaque">

        <div class="container">

            <!-- rotativo - in -->
            <div id="destaques" class="col-md-9 col-xs-12 pull-left ">

            </div>
            <!-- rotativo - out -->
            <!-- multimidia - in -->
            <div class="col-md-3 col-xs-12 pull-right">

                <div style="padding:20px 0;">
                    <div class="multimidia ">

                        <div id="video" class="aovivo">

                           

                        </div>


                        <div class="radioweb">
                            <h2>Rádio Web</h2>
                            <p>Nova lei de incentivos fiscais é tema de debate na Alepa.</p>

                            <style>
                                @import "http://agenciabelem.com.br/scripts/jplayer/skins/premium-pixels/premium-pixels.css";
                            </style>
                            <div class="content-audio">
                                <div id="jquery_jplayer_15002" class="jp-jplayer" data-id="15002" data-pasta="23.10.2015" data-nome="1b9b2914c0ba4583b1c19f41330ebef6.mp3" style="width: 0px; height: 0px;"><img id="jp_poster_1" style="width: 0px; height: 0px; display: none;" /><audio id="jp_audio_1" preload="metadata" src="http://agenciabelem.com.br/multimidiaSGN/anexo/23.10.2015/1b9b2914c0ba4583b1c19f41330ebef6.mp3"></audio></div>
                                <div id="jp_container_15002" class="jp-audio">
                                    <div class="jp-type-playlist">
                                        <div class="jp-gui jp-interface">
                                            <ul class="jp-controls">
                                                <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
                                                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                                                <li><a href="javascript:;" class="jp-pause" tabindex="1" style="display: none;">pause</a></li>
                                                <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                                                <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                                                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                                                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute" style="display: none;">unmute</a></li>
                                                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                                            </ul>
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar" style="width: 100%;">
                                                    <div class="jp-play-bar" style="width: 0%;"></div>

                                                </div>
                                            </div>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 80%;"></div>
                                            </div>
                                            <ul class="jp-toggles">
                                                <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                                                <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off" style="display: none;">shuffle off</a></li>
                                                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                                                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off" style="display: none;">repeat off</a></li>
                                            </ul>
                                        </div>

                                        <div class="jp-no-solution" style="display: none;">
                                            <span>Update Required</span>
                                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <!-- multimidia - out -->

        </div>

    </div>
    <!-- destaque out -->
    <!-- centro home - in -->
    <div class="centro_home">

        <div class="container">

            <!-- menu - in -->
            <div id="menu" class="menu pull-left col-xs-12 col-md-3">

            </div>
            <!-- menu - out -->
            <!-- conteudo - in -->
            <div class="conteudo pull-right col-xs-12 col-md-9">

                <!-- ultimas noticias - in -->
                <h2>ÚLTIMAS NOTÍCIAS</h2>
                <div id="ultimas_noticias" class="ultimas_noticias row">



                </div>
                <!-- ultimas noticias - out -->
                <!-- deputados em acao - in -->
                <h2>DEPUTADOS EM AÇÃO</h2>
                <div id="deputados_em_acao" class="deputados_em_acao row">



                </div>
                <!-- deputados em acao - out -->
                <!-- outros - in -->
                <div class="outros row">
                 
                    <div class="col-md-4 col-xs-12 ">
                        <div class="item">
                            <h2 style="background:url(imagens/titulo_agenda.png) no-repeat 10px 18px;">AGENDA</h2>
                            <div id="js_sideCalhome" class="agendaHolder home" style="background-color: #8897A4; margin: -12px 0 -27px 0;">

                                <div style="background-color: #8897a4; " >
                                    <span style="padding: 10px; margin: 0 0 0 22px; font-size:15px; color:#fff; font-weight: bold"><a style="color: #fff" href="#"><</a></span><span class="agenda-data" style="margin-bottom:15px;font-size:15px; color:#fff; font-weight: bold">29 de Outubro de 2015</span> <span style="padding: 10px; font-size:15px; color:#fff; font-weight: bold"><a style="color:#fff" href="#">></a></span>
                                </div>

                                <div class="programacao">
                                    <ul class="js_sideCalTabs clearfix js_sideCalTab_manha" style="cursor: pointer; width: 246px;">
                                        <li class="select" style="width: 82px; visibility: visible;"><a href="javascript:;" class="js_sideCalTab js_sideCalTab_manha" data-tab="js_sideCalTab_manha">manhã</a></li>
                                        <li style="width: 82px; visibility: visible;"><a href="javascript:;" class="js_sideCalTab js_sideCalTab_tarde" data-tab="js_sideCalTab_tarde">tarde</a></li>
                                        <li style="width: 82px; visibility: visible;"><a href="javascript:;" class="js_sideCalTab js_sideCalTab_noite" data-tab="js_sideCalTab_noite">noite</a></li>
                                    </ul>
                                    <div class="bg-conteudoAgenda">
                                        <div class="js_sideCalRegua programacao_regua" style="width: 244px;">
                                            <div class="js_sideCalHoras js_sideCalTab_manha programacao_reguaHoras programacao_reguaHorasManha" style="display: block;">
                                                <span><a class="js_sideCalHora" data-hora="07:00">07h</a></span>
                                                <span><a class="js_sideCalHora select" data-hora="08:00">08h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="09:00">09h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="10:00">10h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="11:00">11h</a></span>
                                            </div>
                                            <div class="js_sideCalHoras js_sideCalTab_tarde programacao_reguaHoras programacao_reguaHorasTarde">
                                                <span><a class="js_sideCalHora" data-hora="12:00">12h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="13:00">13h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="14:00">14h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="15:00">15h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="16:00">16h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="17:00">17h</a></span>
                                            </div>
                                            <div class="js_sideCalHoras js_sideCalTab_noite programacao_reguaHoras programacao_reguaHorasNoite">
                                                <span><a class="js_sideCalHora" data-hora="18:00">18h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="19:00">19h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="20:00">20h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="21:00">21h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="22:00">22h</a></span>
                                                <span><a class="js_sideCalHora" data-hora="23:00">23h</a></span>
                                            </div>
                                        </div>
                                        <div class="wrapper">

                                            <div id="conteudoAgenda" class="js_sideCalSlider programacao_slider" style="width: 244px; top: 0px; position: relative;">
                                                <img src="imagens/agenda/tab-preview.gif" style="margin: 37%" />

                                               
                                            </div>

                                        </div>
                                    </div>
                                    <div class="footer clearfix" style="width: 246px;">

                                        <div class="js_sideCalNav paginacao_agenda">
                                            <a href="javascript:;" class="js_sideCalPrev paginacao_agendaPrev">Anteriores</a>
                                            <a href="javascript:;" class="js_sideCalNext paginacao_agendaNext active">Próximos</a>
                                        </div>
                                    </div>
                                </div>





                              
                            </div>

                        </div>
                    </div>



                        <div class="col-md-4 col-xs-12 ">

                            <div class="item">
                                <h2 style="background:url(imagens/titulo_cac.png) no-repeat 10px 18px;">CAC - CENTRO DE ATENDIMENTO AO CIDADÃO</h2>

                                <div class="cac">
                                    <h3 class="telefones">
                                        TELEFONES:<br />
                                        <div style="font-size:25px; line-height:30px;">
                                            (91) 3213-4230<br />
                                            (91) 3213-4262<br />
                                            (91) 3213-4394<br />
                                        </div>
                                    </h3>

                                    <h3 class="horario">
                                        Horário de atendimento: <br />
                                        8 às 14 horas
                                    </h3>
                                </div>
                            </div>

                        </div>



                        <div class="col-md-4 col-xs-12 ">

                            <div class="item">
                                <h2 style="background:url(imagens/titulo_leis.png) no-repeat 5px 16px;">BANCO DE LEIS</h2>

                                <div class="banco_de_leis">
                                    <form>
                                        <h3>Número da Lei:</h3>
                                        <input type="text" class="caixa_texto" />

                                        <h3>Palavra Chave:</h3>
                                        <input type="text" class="caixa_texto" />

                                        <input type="button" class="btn btn-success" value="BUSCAR" />
                                    </form>

                                    <p><a href="#">Download de Arquivos</a></p>
                                </div>
                            </div>

                        </div>

                    </div>
                <!-- outros - out -->



            </div>
            <!-- conteudo - out -->


        </div>

    </div>
    <!-- centro home - out -->
    <!-- representantes - in -->
    <div class="representantes">

        <div class="largurador">


            <h2><a href="#" class="jcarousel-control-prev"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></a> Representantes do Povo <a href="#" class="jcarousel-control-next"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a></h2>
            <a href="#" class="filtrar">FILTRAR POR PARTIDO</a>
            <!-- <p><a href="#" id="left-button"> < </a> <a href="#" class="filtrar">FILTRAR POR PARTIDO</a> <a href="#" id="right-button"> > </a></p> -->


            <div class="lista jcarousel">

                <ul>
                    <li data-partido="PSDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/cilene-couto.jpg" />

                                <h3>Cilene Couto</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSD">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/junior-ferrari.jpg" />

                                <h3>Júnior	Ferrari</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/luth-rebelo.jpg" />

                                <h3>Luth Rebelo</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSD">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/coronel-neil.jpg" />

                                <h3>Coronel	Neil</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/ana-cunha.jpg" />

                                <h3>Ana	Cunha</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSD">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/fernando-coimbra.jpg" />

                                <h3>Fernando Coimbra</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PTB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/eduardo-costa.jpg" />

                                <h3>Eduardo	Costa</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/eliane-lima.jpg" />

                                <h3>Eliane	Lima</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PTB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/tiao-miranda.jpg" />

                                <h3>Tião Miranda</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/celso-sabino.jpg" />

                                <h3>Celso Sabino</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/milton-campos.jpg" />

                                <h3>Milton	Campos</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PSDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/sefer.jpg" />

                                <h3>Sefer</h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PMDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/martinho-carmona.jpg" />

                                <h3>
                                    Martinho Carmona
                                </h3>

                            </div>
                        </a>
                    </li>


                    <li data-partido="PT">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/bordalo.jpg" />

                                <h3>
                                    Bordalo

                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PMDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/chamon.jpg" />

                                <h3>
                                    Chamon


                                </h3>

                            </div>
                        </a>
                    </li>
                    <li data-partido="PMDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/dr-wanderlan.jpg" />

                                <h3>
                                    Dr.	Wanderlan



                                </h3>

                            </div>
                        </a>
                    </li>
                    <li data-partido="PMDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/ozorio-juvenil.jpg" />

                                <h3>
                                    Ozorio Juvenil

                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PMDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/scaff.jpg" />

                                <h3>
                                    Scaff


                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PT">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/dirceu-ten-caten.jpg" />

                                <h3>
                                    Dirceu Ten Caten



                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PT">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/airton-faleiro.jpg" />

                                <h3>
                                    Airton Faleiro




                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PMDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/chicao-15555.jpg" />

                                <h3>
                                    Chicão





                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PMDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/iran-lima.jpg" />

                                <h3>
                                    Iran Lima

                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PMDB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/eraldo-pimenta.jpg" />

                                <h3>
                                    Eraldo Pimenta


                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PEN">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/raimundo-santos.jpg" />

                                <h3>
                                    Raimundo Santos



                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="SD">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/hilton-aguiar.jpg" />

                                <h3>
                                    Hilton	Aguiar

                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PRB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/pastor-divino.jpg" />

                                <h3>
                                    DIVINO

                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="SD">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/eliel-faustino.jpg" />

                                <h3>
                                    Eliel Faustino


                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PR">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/junior-hage.jpg" />

                                <h3>
                                    Junior Hage

                                </h3>

                            </div>
                        </a>
                    </li>

                    <li data-partido="PR">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/renato-ogawa.jpg" />

                                <h3>
                                    Renato	Ogawa


                                </h3>

                            </div>
                        </a>
                    </li>
                    <li data-partido="PROS">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/tercio.jpg" />

                                <h3>
                                    Soldado	Tercio
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PR">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/rui-begot.jpg" />

                                <h3>
                                    Rui	Begot
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="DEM">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/marcio-miranda.jpg" />

                                <h3>
                                    Marcio	Miranda
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="DEM">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/dep-haroldo-martins.jpg" />

                                <h3>
                                    Dr.	Haroldo Martins
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PSC">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/olival-marques.jpg" />

                                <h3>
                                    Olival	Marques
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PSC">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/dr-jaques-neves.jpg" />

                                <h3>
                                    Dr.	Jaques
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PSB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/shydney-rosa.jpg" />

                                <h3>
                                    Sidney	Rosa
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PSB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/cassio-andrade.jpg" />

                                <h3>
                                    Cassio	Andrade
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PPL">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/antonio-tonheiro.jpg" />

                                <h3>
                                    Antonio	Tonheiro
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PDT">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/miro-sanova.jpg" />

                                <h3>
                                    Miro Sanova
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PCdoB">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/lelio-costa.jpg" />

                                <h3>
                                    Lélio Costa
                                </h3>
                            </div>
                        </a>
                    </li>
                    <li data-partido="PPS">
                        <a href="#">
                            <div class="item">

                                <img src="imagens/deputados/thiago-araujo.jpg" />

                                <h3>
                                    Thiago	Araujo

                                </h3>

                            </div>

                        </a>

                    </li>

                </ul>



            </div>

        </div>

        <script>

        </script>

    </div>
    <!-- representantes - out -->





    <footer></footer>


</body>
<script src="scripts/jsrender.min.js"></script>
<script src="scripts/jquery.simplePagination.js"></script>
<script src="scripts/bootstrap-datepicker.js"></script>
<script src="scripts/busca.js"></script>
<script src="scripts/script.js"></script>
<script src="scripts/agenda_lateral.js"></script>
<script type="text/html" id="template">
    <div class="col-md-4 col-xs-12 ">
        <a href="#">
            <div class="item">

                <img src="http://redepara.com.br/Resize/CreateThumbnail?path=/imagens/galeria/{{:id_galeria}}/{{:nome_foto}}&maxHeight=161&maxWidth=255" class="img-responsive" width="100%" />

                <p>{{:titulo}}</p>

            </div>
        </a>
    </div>

</script>
<script type="text/html" id="templateDeputados">
    <div class="col-md-3 col-xs-12 ">
        <a href="#">
            <div class="item">

                <div class="avatar">
                    <img src="imagens/deputados_thumb.jpg" class="pull-left image-cropper" />
                    <span class="pull-left">Márcio Miranda <br />(DEM)</span>
                </div>

                <p class="titulo">{{:titulo}}</p>

                <p class="resumo">{{:texto.substring(0,150)}}</p>

            </div>
        </a>
    </div>

</script>

<script type="text/x-jsrender" id="templateDestaques">
    {{if #index == 0}}
    <div id="myCarousel" class="rotativo carousel slide carousel-fade" data-ride="carousel">

        <h2 class="hidden-md hidden-sm hidden-xs">DESTAQUE</h2>

        <h2 class="hidden-lg" style="position:relative;  max-width:100% !important; width:100%;">DESTAQUE</h2>


        <!-- Indicators -->
        <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>


        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner row" role="listbox">
            {{/if}}
            <div class="item    {{if #index == 0}}active{{/if}}">
                <img src="http://redepara.com.br/Resize/CreateThumbnail?path=/imagens/galeria/{{:id_galeria}}/{{:nome_foto}}&maxHeight=302&maxWidth=481" alt="Chania" class="img-responsive col-lg-7 col-xs-12 pull-right" />
                <div class="carousel-caption pull-left col-lg-5 col-xs-12 hidden-md hidden-sm hidden-xs">
                    <h3>{{:titulo}}</h3>
                    <div class="saiba_mais">
                        <a href="#">Saiba mais <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>

                <div class="carousel-caption mobile pull-left col-lg-5 col-xs-12 hidden-lg">
                    <h3>{{:titulo}}</h3>
                    <div class="saiba_mais">
                        <a href="#">Saiba mais <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>

            {{if #index == 1}}
        </div>

        <!-- Left and right controls -->
        <!--<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-right"><img src="imagens/botao_left.png" /></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"><img src="imagens/botao_right.png" /></span>
            <span class="sr-only">Next</span>
        </a>-->
    </div>
    {{/if}}

</script>
<script type="text/x-jsrender" id="templateVideo">
 
    <h2>Plenário Ao Vivo</h2>

    <div class="video-responsive">
        <iframe width="300" height="150" src="https://www.youtube.com/embed/{{:codigo}}" frameborder="0" allowfullscreen=allowfullscreen></iframe>
    </div>
</script>
<script type="text/x-jsrender" id="templateAgenda">
    <div class="js_sideCalItem evento" data-hora="{{:~formataHora(data)}}" data-period="js_sideCalTab_tarde" data-id="{{:id}}">
        <div class="texto-horarioAgendaTv">
            <div class="bg-horario">


                <span class="horas">{{:~formataHora(data)}}</span>

            </div>
            <div class="horario-conteudoAgendaTv">

                <span>{{:tipo}}</span><br />




               <strong>{{:titulo}}</strong>
                <br />



                <strong>Local:</strong> {{:local}}<br />




              
            </div>
        </div>
    </div>
</script>
<script>

   
    var d = new Date();
    var dy = d.getHours();
    var m = d.getMinutes;
    var a = d.getFullYear();
    var dataIni = dy + "/" + m + "/" + a;
    var dataFim = dataIni; 
   
    jQuery(function () { var a = buscaAPI('http://api.sgn.net.br/Api/Video/2?dataIni=&dataFim=&idOrgao=&termo=&filtro=&idStatus=1&itens=1&page=1', "templateVideo", "video"); })
    jQuery(function () { var a = buscaAPI('http://api.sgn.net.br/Api/Noticia/2?dataIni=&dataFim=&idOrgao=&termo=&filtro=&idStatus=3&itens=2&page=1', "templateDestaques", "destaques"); })
    jQuery(function () { var a = buscaAPI('http://api.sgn.net.br/Api/Noticia/2?dataIni=&dataFim=&idOrgao=&termo=&filtro=&idStatus=2&itens=3&page=1', "template", "ultimas_noticias"); })
    jQuery(function () { var a = buscaAPI('http://api.sgn.net.br/Api/Noticia/2?dataIni=&dataFim=&idOrgao=&termo=&filtro=&itens=4&page=1', "templateDeputados", "deputados_em_acao"); })
</script>

</html>